<h3>Idea Box</h3>

<div class="row">
  <div class="medium-3 columns">
    <form action="/api/v1/ideas" accept-charset="UTF-8" method="post">
      <div class="row">
        <div class="medium-3 columns">
          <label>
            <input class="" type="text" name="idea[title]" id="idea_title" placeholder="Title">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <label>
            <textarea class="" type="text" name="idea[body]" id="idea_body" placeholder="Body"></textarea>
          </label>
        </div>
      </div>
      <input type="submit" name="commit" value="Save" id="create-idea" class="tiny radius success button">
    </form>
  </div>
</div>

<div class="row">
  <h4>Ideas</h4>
  <div class="medium-9 columns ideas-list">

  </div>
</div>
