function ideaAccordionElement(idea){
  return "<li class='accordion-navigation' data-id="+ idea.id +"><a href=#idea"+idea.id+">"+idea.title+"<div class='right'><i class='fa fa-thumbs-o-up'></i><i class='fa fa-thumbs-o-down'></i><span class='round radius label'>"+idea.quality+"</span></div></a><div id=idea"+idea.id+" class='content'>"+idea.body+"<div class='edit-delete-labels'><span data-id="+idea.id+" class='alert round radius label delete-label'>Delete</span><span data-reveal-id='myModal' class='round radius label edit-label'>Edit</span></div></div></li>"
}

function trimIdeaBody(idea){
  if(idea.body.length > 100){
    var trimmedBody = idea.body.substr(0, 100)
    //re-trim if we are in the middle of a word
    idea.body = trimmedBody.substr(0, Math.min(trimmedBody.length, trimmedBody.lastIndexOf(" ")))
  }
}

function addDeleteHandler(idea){
  idea.on('click', function(){
    var ideaId        = $(this).data('id')
    var ideaElement   = this.closest('.accordion-navigation')

    $.ajax({
      type: "DELETE",
      url: "api/v1/ideas/" + ideaId,
      dataType: "JSON"
    }).success(function(){
      $(ideaElement).slideUp('slow')
    })
  })
}

function addEditHandler(label){
  label.on('click', function(){
    var ideaID = $(this).parents('.accordion-navigation').attr('data-id')
    $('#myModal').foundation('reveal', 'open')

    $('#edit-idea').submit(function() {
      var valuesToSubmit = $(this).serialize()

      $.ajax({
          type: "PUT",
          url: "api/v1/ideas/" + ideaID,
          data: valuesToSubmit,
          dataType: "JSON"
      }).success(function(){
        window.location.reload()
      })
      return false
    })
  })
}

function requestAllIdeas(){
  $.ajax({
      type: "GET",
      url: "api/v1/ideas",
      dataType: "JSON"
  }).success(function(ideas){
    ideas.forEach(function(idea){
      trimIdeaBody(idea)
      var ideaDomElement  = $(ideaAccordionElement(idea))

      addDeleteHandler(ideaDomElement.find('.delete-label'))
      addEditHandler(ideaDomElement.find('.edit-label'))

      $('.ideas-list').append(ideaDomElement)
      $(document).foundation('accordion', 'reflow')
    })
  })
}

function createIdea(){
  $('#create-idea').submit(function() {

    inputField = document.getElementById("create-idea-input").value;
    textArea   = document.getElementById("create-idea-textarea").value;
    if (inputField === "" || textArea === "") {
      alert("Input Field(s) Cannot Be Blank");
      return false;
    };

    var valuesToSubmit = $(this).serialize()
    this.reset()

    $.ajax({
        type: "POST",
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
    }).success(function(idea){
      console.log("successful creation", idea)
      trimIdeaBody(idea)
      var ideaDomElement = $(ideaAccordionElement(idea))

      addDeleteHandler(ideaDomElement.find('.delete-label'))
      addEditHandler(ideaDomElement.find('.edit-label'))

      $('.ideas-list').prepend(ideaDomElement)
      $(document).foundation('accordion', 'reflow')
    })
    return false // prevents normal form behaviour
  })
}

$(document).ready(function(){
  requestAllIdeas()
  createIdea()
})
